@media screen and (min-width:100px){
    .descricao{
        width: 70%;
    }

    .filme-principal .descricao {
        margin-top: 0px;
        margin-bottom: 0px;
        /* width: 100%; */
    }
    
    .filme-principal .titulo{
        margin-top: 0;
        font-size: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   
}

@media screen and (max-width:280px){
    header .logo{
        font-size: 30px;
    }

    header nav a{
        margin-right: 0px;
    }
}

@media screen and (max-width:320px){
    .filme-principal .descricao {
        margin-top: 0px;
        margin-bottom: 0px;
        /* width: 100%; */
    }
    
    .filme-principal .titulo{
        margin-top: 0;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

@media screen and (max-width:420px){
    .filme-principal .descricao {
        margin-top: 0px;
        margin-bottom: 0px;
        /* width: 100%; */
    }
    
    .filme-principal .titulo{
        margin-top: 0;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    header .logo{
        margin-left: 0px;
    }
    .container{
        margin-left: 10px;
    }
}

@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
    .descricao{
        width: 70%;
    }
    
    .filme-principal .descricao{
        width: 100%;
    }
}



